        <!-- Analytics and Annotations -->
        <div id="analytics-and-annotations">
          <div id="oc-comment-scrubber-box"></div>
          <span id="analytics" class="analytics">Loading..</span>
          <span id="annotation" class="annotation">Annotation..</span>
          <table class="segments" id="segmentstable1">
            <!-- data comes here -->
          </table>         
        </div>
        <div id="segments_ui_slider_data1"></div>
        <div id="segments_ui_slider_data2"></div>
        <div id="segments_ui_slider_information"></div>
        <div id="segments_ui-media1"></div>
        <div id="data1"></div>
        <div id="segments_ui-mediapackagesAttachments"></div>
        <div id="data2"></div>
        <div id="segments_ui-mediapackagesCatalog"></div>
        <div id="segments-table2">
          <table id="segmentstable2"></table>
        </div>
