      <!-- Comment tab content -->
      <div id="oc_comments" class="fl-fix">
  <div id="oc_comments-list-loading" class="loadingImage"></div>
  <div id="oc-comments-list-add-form">
    <p class="oc-comments-list-headingtext">
      Add A New Comment
    </p>
    <p class="oc-comments-list-text">
      Use the comment checkbox to show/add timed and slide comments.
    </p>
    <div id="oc-comments-list-addbox">
      <div>
        <input id="oc-comments-list-namebox" name="Name" type="text" />
        <textarea id="oc-comments-list-textbox" ></textarea>
        <input id="oc-comments-list-submit" value="Add comment" role="button" type="button" />
        <input id="oc-comments-list-submit-timed" value="Add comment at 00:00:00" role="button" type="button" />
      </div>
    </div>
    <div id="oc-comments-list-header">
      <p id="oc-comments-list-header-top" class="oc-comments-list-headingtext"></p>
      <p id="oc-comments-list-header-bottom" class="oc-comments-list-boldtext"></p>
    </div>
    <div id="oc-comments-list">
    </div>
  </div>
      </div>
      <!-- END #oc_comments-list-wrapper -->
