 <!--  Comment dialogs -->       
    <div id="comment-Info" class="oc-comment-Info">
       <div id="cm-info-box" class="oc-comment-box">
            <div id="oc-comment-info-header" class="oc-comment-header">
                <span class="ui-icon ui-icon-closethick oc-comment-exit" unselectable="on" style="float:right;-moz-user-select: none;">X</span>
                <div id="oc-comment-info-header-text" class="oc-comment-header-text"></div>                   
            </div>
            <div id="oc-comment-info-value-wrapper">

            </div>
            <div id="oc-comment-info-footer" class="oc-comment-footer">
            </div>
       </div>
      
        <div class="oc-comment-arrow-down"></div>
      
    </div>