    <!-- Download dialog -->
    <div id="oc_downloads" title="Download Media Files">
      <span id="skip"><a name="downloads"></a></span>
      <div id="oc_client_downloads"></div>
    </div>
    <!-- END #oc_downloads -->