    <!-- Embed Dialog -->
    <div id="oc_embed" title="Embed">
      <div id="oc_embed-left">
        <input id="oc_embed-icon-one" class="oc_embed-icon" type="submit" name="" alt="" title="" value="" />
        <input id="oc_embed-icon-two" class="oc_embed-icon" type="submit" name="" alt="" title="" value="" />
        <input id="oc_embed-icon-three" class="oc_embed-icon" type="submit" name="" alt="" title="" value="" />
        <input id="oc_embed-icon-four" class="oc_embed-icon" type="submit" name="" alt="" title="" value="" />
        <input id="oc_embed-icon-five" class="oc_embed-icon" type="submit" name="" alt="" title="" value="" />
      </div>
      <div id="oc_embed-right">
        <div id="oc_embed-custom-title">
          Custom size:
        </div>
        <label for="oc_embed-costum-width-textinput" class="handcursor">
          Width:
        </label>
  &nbsp;
        <input id="oc_embed-costum-width-textinput" maxlength="4" type="text" name="Costum width min 300px" alt="Costum width min 300px" title="Costum width min 300px" value="" />
        <div class="clear"></div>
        <label for="oc_embed-costum-height-textinput" class="handcursor">
          Height:
        </label>
  &nbsp;
        <input id="oc_embed-costum-height-textinput" maxlength="4" type="text" name="" alt="" title="" value="" />

        <div class="clear"></div>
        <label for="oc_embed-costum-hide-controls-checkbox" class="handcursor">
          Controls:
        </label>
  	&nbsp;
        <input id="oc_embed-costum-hide-controls-checkbox" type="checkbox" name="Display controls" alt="Display controls" title="Display controls" value="" />
  <br />
        <label for="oc_embed-costum-hide-controls-checkbox" class="handcursor">

        <a href="javascript: " id="oc_btn-leave-session-time" onclick="$('#oc_embed').dialog('close');" class="handcursor ui-helper-hidden-accessible" title="Leave embed dialog" role="button">
          Leave embed dialog
        </a>
      </div>

      <div class="clear"></div>
      <label for="oc_embed-textarea">
        Choose your embed size. Copy the text and paste it in your html page.
      </label>
      <textarea id="oc_embed-textarea" class="oc_embed-textarea" rows="2" cols="1"></textarea>
    </div>
    <!-- END #oc_embed -->