      <!-- If no Javascript is activated -->
      <noscript>
          <div class="noJSAlert-outer">
            <div class="noJSAlert-inner-up">
              <div class="icon icon-error noJSAlert-inner-image">&nbsp;</div>
              JavaScript is disabled
            </div>
            <div class="noJSAlert-inner-down">
              This player requires JavaScript to work properly.
            </div>
          </div>
      </noscript>
