    <div id="oc_mobile_redirect">
  <div class="mobile_redirect-outer">
          <div class="mobile_redirect-inner-up">
            <div class="icon icon-information mobile_redirect-inner-image">&nbsp;</div>
            Mobile experience
      <div id="mobile_redirect-close" class="icon-2 icon-close mobile_redirect-inner-image-2">&nbsp;</div>
          </div>
          <div class="mobile_redirect-inner-down">
      For a better mobile experience apps for nearly every platform are available.<br />
      <span id="oc_mobile_redirect-url">For more information see <a href="http://opencast.org/matterhorn">http://opencast.org/matterhorn</a></span>
          </div>
  </div>
    </div>
    <!-- END #oc_mobile_redirect -->