    <div id="oc_player-head">
      <div id="oc_title"></div>
      <div id="oc_player-head-see-more" class="ui-helper-hidden">
        <a href="javascript: " id="oc_see-more-button" title="click to see more of this series" role="button" aria-pressed="false">
          <div>
            See More
          </div>
        </a>
      </div>
      <div id="oc_player-head-right">
        <a href="javascript: " id="oc_shortcut-button" title="click to show shortcuts" role="button" aria-pressed="false" tabindex="80">
          <div>
            Shortcuts
          </div>
        </a>
        <a href="javascript: " id="oc_share-button" title="click to show share options" role="button" aria-pressed="false" tabindex="70">
          <div>
            Share
          </div>
        </a>
        <a href="javascript: " id="oc_download-button" title="click to show downloads" role="button" aria-pressed="false" tabindex="60">
          <div>
            Download
          </div>
      </a>

      </div>
      <div class="clear"></div>
    </div>
    <!-- END #oc_player-head -->
