   <!-- #share-button-layer dialog -->
    <div id="oc_share-layer" class="ui-widget ui-widget-content ui-corner-all oc_popuplayer ui-helper-hidden" title="share this Video" tabindex="-1" role="dialog" aria-hidden="true">
      <ul id="oc_share-list" class="oc_popuplayer-list">
        <li>
          <a href="javascript: " id="oc_btn-embed" class="handcursor" title="Embed" role="button">
            Embed
          </a>
        </li>
        <li>
          <a href="javascript: " id="oc_btn-email" class="handcursor" title="Email" role="button">
            Email
          </a>
        </li>
        <li>
          <a href="javascript: " id="oc_btn-share-time" class="handcursor" title="Share video URL at current time" role="button">
            Video at current time
          </a>
        </li>
      </ul>
    </div>
    <!-- END #oc_share-layer -->