    <!-- Shortcut dialog -->
    <div id="oc_shortcuts" title="Shortcuts">
      <span><a name="shortcuts"></a></span>
      <div id="oc_client_shortcuts"></div>
    </div>
    <!-- END #oc_shortcuts -->