    <div id="skip">
      <a href="#controls" tabindex="10">
        Skip to player controls
      </a>
    </div>

    <div id="skip">
      <a id="oc_a11y-shortcut" href="#shortcuts" onclick="Opencast.Player.doToggleShortcuts(event, 'oc_a11y-shortcut');" tabindex="20">
        Skip to Shortcuts
      </a>
    </div>