      <!-- Slides tab content -->
      <div id="oc_slides" class="oc_DisplayBlock">
        <div id="segments-holder" class="oc-segments-holder">
          <div id="oc_segment-table" class="oc-segments">
            <div id="oc-segments">
              <div id="segments-loading" class="loadingImage">
              </div>
              <div id="slider">
                <img alt="Scroll to previous slides" src="/engage/ui/img/engage_player/leftarrow.png" class="scrollButtons left" />
                <div id="scroll" class="scroll">
                  <div id="scrollcontainer" class="scrollContainer"></div>
                </div>
                <img alt="Scroll to subsequent slides" src="/engage/ui/img/engage_player/rightarrow.png" class="scrollButtons right" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END #oc_slides -->

      <!-- Slide text tab content -->
      <div id="oc_slidetext" class="fl-fix">
        <div id="segments_text-loading" class="loadingImage"></div>
        <div id="oc-segments_text"></div>
      </div>
      <div id="oc_search-segment" class="fl-fix">
        <div id="search-loading" class="loadingImage"></div>
        <div id="oc-search-result"></div>
      </div>
      <!-- END #oc_slidetext -->