        <div id="oc_seek-slider">
          <label id="skip" for="srubber">
            Time Slider
          </label>
          <table id="scrubber-table">
            <tbody>
              <tr class="player-chrome">
                <td class="progress-segment">
                  <table class="segments" id="tableData1">
                    <!-- data comes here -->
                  </table>
                  <div class="progress-list">
                    <span class="load-progress" value="0"></span>
                    <span id="play-progress" class="play-progress" value="0"></span>
                    <span id="scubber-channel" class="scrubber-channel">
                      <input id="scrubber" type="submit" type="image" src="/engage/ui/img/misc/space.png" class="scrubber-button" role="slider" />
                      <div id="draggable" class="ui-widget-content"></div>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>