    <!-- Tabs -->
    <div id="oc_ui_tabs">
      <div id="oc_tabs" class="oc_tabs-input">
        <ul id="oc_tabs-head">
          <li>
            <a href="#oc_description" id="oc_btn-description" class="oc_btn-tabs handcursor" title="Description" aria-role="button">
              Description
            </a>
          </li>
          <li>
            <a href="#oc_slides" id="oc_btn-slides" class="oc_btn-tabs handcursor" title="Segments" aria-role="button">
              Segments
            </a>
          </li>
          <li>
            <a href="#oc_slidetext" id="oc_btn-slidetext" class="oc_btn-tabs handcursor" title="Segment Text" aria-role="button">
              Segment Text
            </a>
          </li>
          <li>
            <a href="#oc_comments" id="oc_btn-comments" class="oc_btn-tabs handcursor" title="Comments" aria-role="button">
              Comments
            </a>
          </li>
          <li class="oc_lecturer-search-field-wrap ui-corner-top" id="search-textarea">
            <label id="skip" for="oc_lecturer-search-field" class="oc_offScreen-hidden">
              Search this recording
            </label>
            <input id="oc_lecturer-search-field" type="text" onkeyup="Opencast.search.showResult(this, this.value);" onfocus="$(this).trigger('click');Opencast.search.showResult(this, this.value);" size="30" value="Search this recording" />
          </li>
        </ul>
      </div>
      <!-- END #oc_tabs -->