        <div id="oc_video-time">
          <div id="simpleEdit">
            <input id="oc_current-time" class="oc_current-time handcursor ui-corner-all" type="text" name="Current Time" title="Current Time" value="00:00:00" />
            <input id="oc_edit-time" class="oc_edit-time-hide handcursor ui-corner-all" type="text" maxlength="8" size="8" name="Edit Current Time HH:MM:SS" title="Edit Current Time HH:MM:SS" value="00:00:00" />
            &nbsp;of&nbsp;
            <span id="oc_duration" class="oc_duration" name="Duration" title="Duration">
              Initializing
            </span>&nbsp;
            <span id="oc_video-cc">
              <input id="oc_btn-cc" class="oc_btn-cc-off" type="checkbox" name="Closed Captions Off: Control + Alt + C" title="Closed Captions Off: Control + Alt + C" value="" />
              <label for="oc_btn-cc" title="Closed Captions Off: Control + Alt + C">
                Show Captions
              </label>
            </span>
          <div id="oc_comment-control">
          	<input id="oc_btn-add-comment" class="oc_btn-add-comment handcursor" type="image" src="/engage/ui/img/misc/space.png" name="Add Comment: Control + Alt + A" alt="Add Comment: Control + Alt + A" title="Add Comment: Control + Alt + A" value="Add Comment: Control + Alt + A" />
          </div>
          </div>
        </div>
        <!-- END #oc_video-time -->
