    <div id="oc_ie8comments">
  <div class="ie8comments-outer">
          <div class="ie8comments-inner-up">
            <div class="icon icon-information ie8comments-inner-image">&nbsp;</div>
            Your browser is not supported.
      <div id="ie8comments-close" class="icon-2 icon-close ie8comments-inner-image-2">&nbsp;</div>
          </div>
          <div class="ie8comments-inner-down">
      <p>Your browser does not support the comments feature.</p>
          </div>
  </div>
    </div>