      <div id="oc_video-view">
        <span id="oc_video-quality">
          <strong>Quality:</strong>&nbsp;
          <select id="oc_video-quality-options">
            <option value="low">Low</option>
            <option value="medium" selected="selected">Medium</option>
            <option value="high">High</option>
            <option value="hd">HD</option>
          </select>
        </span>
        &nbsp;
        <strong>View:</strong>
        <input id="oc_checkbox-annotation-comment" type="checkbox" name="show comments" title="show comments" />
        <label id="oc_label-annotation-comment" for="oc_checkbox-annotation-comment">
            Comments
        </label>
        <input id="oc_checkbox-annotations" type="checkbox" name="show Annotations" title="show Annotations" />
        <label id="oc_label-annotations" for="oc_checkbox-annotations">
          Annotations
        </label>
        <input id="oc_checkbox-statistics" type="checkbox" name="show Statistics" title="show Statistics" />
        <label id="oc_label-statistics" for="oc_checkbox-statistics">
          Viewing Statistics
        </label>
        &nbsp;
        <div class="clear"></div>
      </div>
      <!-- END #oc_video-view -->
