        <div id="oc_video-controls">
          <span id="skip">
            <a name="controls"></a>
            <h2>
              Video Player Controls
            </h2>
          </span>
          <input id="oc_btn-skip-backward" 
  	 class="oc_btn-skip-backward" 
  	 type="image" 
  	 role="button" 
  	 src="/engage/ui/img/misc/space.png" 
  	 name="Jump To The Previous Slide" 
  	 alt="Jump To The Previous Slide" 
  	 title="Jump To The Previous Slide" 
  	 value="Jump To The Previous Slide" 
  	 aria-labelledby="Jump To The Previous Slide" />
          <input id="oc_btn-rewind" 
  	 class="oc_btn-rewind" 
  	 type="image" 
  	 role="button" 
  	 src="/engage/ui/img/misc/space.png" 
  	 name="Jump Back: Control + Alt + R" 
  	 alt="Jump Back: Control + Alt + R" 
  	 title="Jump Back: Control + Alt + R" 
  	 value="Jump Back: Control + Alt + R" 
  	 aria-labelledby="Jump Back: Control + Alt + R" />
          <input id="oc_btn-play-pause" 
  	 class="oc_btn-play" 
  	 type="image" 
  	 role="button" 
  	 src="/engage/ui/img/misc/space.png" 
  	 name="Play: Control + Alt + P" 
  	 alt="Play: Control + Alt + P" 
  	 title="Play: Control + Alt + P" 
  	 value="Play: Control + Alt + P"
  	 aria-labelledby="Play: Control + Alt + P" />
          <input id="oc_btn-fast-forward" 
  	 class="oc_btn-fast-forward" 
  	 type="image" 
  	 role="button" 
  	 src="/engage/ui/img/misc/space.png" 
  	 name="Jump Forward: Control + Alt + F" 
  	 alt="Jump Forward: Control + Alt + F" 
  	 title="Jump Forward: Control + Alt + F" 
  	 value="Jump Forward: Control + Alt + F" 
  	 aria-labelledby="Play: Control + Alt + P" />
          <input id="oc_btn-skip-forward" 
  	 class="oc_btn-skip-forward" 
  	 type="image" src="/engage/ui/img/misc/space.png" 
  	 alt="Jump To The Next Slide" 
  	 title="Jump To The Next Slide" 
  	 value="Jump To The Next Slide" 
  	 role="button" 
  	 aria-labelledby="Jump To The Next Slide" />
        </div>
        <!-- END #oc_video-controls -->
        <div id="oc_sound">
          <span id="oc_volume-dropdown">
            <input id="oc_btn-volume" class="oc_btn-volume-high handcursor" type="submit" name="Unmute: Control + Alt + M" alt="Unmute: Control + Alt + M" title="Unmute: Control + Alt + M" value="" />
          </span>
          <button id="oc_volume-container">
            <div id="oc_volume-back">
              <div id="oc_volume-front"></div>
            </div>
          </button>
        </div>
        <!-- END #oc_sound -->
        <div id="oc_video-size-controls">
          <span id="oc_video-size-dropdown">
            <input id="oc_btn-dropdown" class="oc_btn-centerDisplay" type="submit" name="Video Size Controls" alt="Video Size Controls" title="Video Size Controls" value="" />
          </span>
        </div>
        <!-- END #oc_video-size-controls -->
